#fullChatViewBtn {
    position: relative;
    width: fit-content;
    height: fit-content;

    top: 3px;

    background-color: transparent;
    border: none;
    padding: 8px;
}

.fullScreen {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}
